.flag{
  width: 100px;
  height: 65px;
  margin-right: 10px;
}

.frflag{
  width: 36px;
  height: 33px;
  margin-right: 10px;
}

.enflag{
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.espflag{
  width: 36px;
  height: 33px;
  margin-right: 10px;
}

.flags{
  width:40px;
  margin-right:1em;;
  margin-left:1em;
}

.downarrow {
  transform: rotate(270deg);
  transition: transform 0.6s;
}



.dropdown-list{
  background-color: #EBE9E9;
  padding-left:1em;
  padding-right:1.5em;
  margin-right:0.5em;
  border-radius: 10px;
  position:absolute;
  z-index:1001;    
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari et Chrome */
  -o-animation: fadein 1s; /* Opera */
}

.dropdown-list-item{
  padding:0.2em;
  margin-left:-1em;
  margin-right:-1.5em;
  border-radius:10px;
  transition:0.6s;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1.5em;


}

.dropdown-list-item:hover{
  transition:0.6s;
  background-color: #d7a7a7;
}

.to-en,.to-fr,.to-esp{
  text-decoration: none;
  color:black;
  transition:0.3s;
}
.to-en:hover,.to-esp:hover,.to-fr:hover{
  text-decoration: none;
  transition:0.3s;
  color: #2144BF;
}


@keyframes fadein {
  from {
      opacity:0;
      margin-top:4em;

  }
  to {
      opacity:1;
      margin-top:0em;


  }
}
@-moz-keyframes fadein { /* sur Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* sur Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}
